version: "3.9"

x-node-image: &node-image
  build:
    context: .
    dockerfile: Dockerfile
  image: jjraft-node

services:
  toxiproxy:
    image: shopify/toxiproxy:2.5.0
    container_name: jjraft-toxiproxy
    ports:
      - "8474:8474"
    restart: unless-stopped

  node1:
    <<: *node-image
    container_name: jjraft-node1
    environment:
      NODE_ID: "1"
      RAFT_PORT: 5001
      HTTP_PORT: 8080
      PEERS: "1=node1:5001,2=toxiproxy:10012,3=toxiproxy:10013"
      HTTP_PEERS: "1=localhost:8081,2=localhost:8082,3=localhost:8083"
      DATA_DIR: /data
    volumes:
      - node1-data:/data
    ports:
      - "8081:8080"
    depends_on:
      - toxiproxy
    restart: unless-stopped

  node2:
    <<: *node-image
    container_name: jjraft-node2
    environment:
      NODE_ID: "2"
      RAFT_PORT: 5002
      HTTP_PORT: 8080
      PEERS: "1=toxiproxy:10021,2=node2:5002,3=toxiproxy:10023"
      HTTP_PEERS: "1=localhost:8081,2=localhost:8082,3=localhost:8083"
      DATA_DIR: /data
    volumes:
      - node2-data:/data
    ports:
      - "8082:8080"
    depends_on:
      - toxiproxy
    restart: unless-stopped

  node3:
    <<: *node-image
    container_name: jjraft-node3
    environment:
      NODE_ID: "3"
      RAFT_PORT: 5003
      HTTP_PORT: 8080
      PEERS: "1=toxiproxy:10031,2=toxiproxy:10032,3=node3:5003"
      HTTP_PEERS: "1=localhost:8081,2=localhost:8082,3=localhost:8083"
      DATA_DIR: /data
    volumes:
      - node3-data:/data
    ports:
      - "8083:8080"
    depends_on:
      - toxiproxy
    restart: unless-stopped

  tester:
    image: alpine:3.20
    working_dir: /work
    volumes:
      - ./:/work
    depends_on:
      - node1
      - node2
      - node3
      - toxiproxy
    environment:
      # ВНУТРЕННИЕ адреса в docker-сети (не localhost!)
      HTTP_NODE1: http://node1:8080
      HTTP_NODE2: http://node2:8080
      HTTP_NODE3: http://node3:8080

      # toxiproxy API внутри сети
      TOXIPROXY_URL: http://toxiproxy:8474

      # Чтобы сценарии знали, что запускаются в контейнере
      IN_DOCKER: "1"
    entrypoint: ["/bin/sh", "-lc"]
    command: >
      apk add --no-cache bash curl jq coreutils &&
      chmod +x scripts/*.sh &&
      chmod +x scripts/**/*.sh 2>/dev/null || true &&
      ./scripts/run_toxiproxy_suite.sh


volumes:
  node1-data:
  node2-data:
  node3-data:
